<aside class="Hui-aside">
	<div class="menu_dropdown bk_2">

		<dl id="menu-admin">
			<dt><i class="Hui-iconfont">&#xe62d;</i> 管理员管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a data-href="{:url('admin/add')}" data-title="添加用户" href="javascript:void(0)">添加用户</a></li>
				</ul>
			</dd>
		</dl>

		<dl id="menu-article">
			<dt><i class="Hui-iconfont">&#xe681;</i> 课程预告内容管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a data-href="{:url('foreshow/index')}" data-title="课程展示" href="javascript:void(0)">课程预告展示</a></li>
					<li><a data-href="{:url('foreshow/add')}" data-title="添加课程" href="javascript:void(0)">添加预告课程</a></li>
				</ul>
			</dd>
		</dl>


		<dl id="menu-article">
			<dt><i class="Hui-iconfont">&#xe681;</i> 课程管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
				  <li><a data-href="{:url('course/index')}" data-title="课程展示" href="javascript:void(0)">课程展示</a></li>
					<li><a data-href="{:url('course/add')}" data-title="添加课程" href="javascript:void(0)">添加课程</a></li>
				</ul>
			</dd>
		</dl>

		<dl>
			<dt><i class="Hui-iconfont">&#xe60c;</i> 内容管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a data-href="{:url('content/index')}" data-title="内容展示" href="javascript:;">内容展示</a></li>
					<li><a data-href="{:url('content/add')}" data-title="添加内容" href="javascript:void(0)">添加内容</a></li>
					<li><a data-href="{:url('statement/index')}" data-title="详细内容展示" href="javascript:void(0)">共读内容展示</a></li>
					<li><a data-href="{:url('topic/index')}" data-title="详细内容添加" href="javascript:void(0)">答题内容展示</a></li>
				</ul>
			</dd>
		</dl>

		<dl id="menu-comments">
			<dt><i class="Hui-iconfont">&#xe720;</i> 打卡记录<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a data-href="{:url('card/index')}" data-title="评论列表" href="javascript:;">打卡列表</a></li>
					<!--<li><a data-href="{:url('orale/add')}" data-title="意见反馈" href="javascript:void(0)">添加课程</a></li>-->
				</ul>
			</dd>
		</dl>





	</div>
</aside>
<div class="dislpayArrow hidden-xs"><a class="pngfix" href="javascript:void(0);" onClick="displaynavbar(this)"></a></div>